body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #36dfdc;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
    color: #222;
  }
  .search-bar {
    margin-bottom: 30px;
  }

  input[type="text"] {
    padding: 10px 15px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }




  