body{
    font-family: Arial;
    background: linear-gradient(135deg,#1a1a2e,#16213e);
    color:white;
    text-align:center;
    padding:20px;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 10px #ffd966, 0 0 20px #b8860b;
    letter-spacing: 2px;
}

.buttons button{
    padding:10px 20px;
    margin:10px;
    border: 2px solid #b89b5b;
    border-radius:40px;
    background: #2a2f44;
    color: #ffddaa;
    cursor:pointer;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    letter-spacing: 1px;                 
}

#content{
    margin-top:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    background:#0f3460;
    padding:15px;
    border-radius:10px;
    width:300px;
}

.card img{
    width:100%;
    border-radius:8px;
}

.spell{
    background:#533483;
    padding:10px;
    border-radius:8px;
    width:200px;
}